form>div {
    display: flex;
}

input{
    display: block;
}

label{
    width: 10em;
}

input[type="text"],
input[type="email"]
{
    border: 2px solid rgb(49, 192, 173); 
    margin: 0 0 1em 0;
    padding: 10px;
    width: 100%;
}


input[type="submit"]{
    border: 3px solid #333;
    background-color: #999;
    border-radius: 5px;
    font-weight: bold;
    color:#fff;
    padding: 5px;
}

input[type="submit"]:hover{ background-color: #333;}

.buttons{
    justify-content: center;
}
  /* pour améliorer les formulaire pour les navigateurs question historique*/
button,
input,
select,
textarea{
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea{
    overflow: auto;
}
